body{
    background-color: #F8F0E5;
    margin: 0px;
    padding: 0px;
}

*{
    color: #0b1e39;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    height: 70px;
    background-color: #DAC0A3;
}

ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 40px;
    margin: 0px 20px;
    height: 100%;
    padding: 0px 0px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

nav > ul > li > a:hover{
    color: #102c575e;
}

ul > li > a{
    text-decoration: none;
}

span{
    font-weight:lighter;
}

#nama{
    font-style: italic;
    transition: all 1s;
}

.grid-hero{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    justify-self: center;
}

.grid-hero > div{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#foto-profil{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.grid-item2{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
}

.grid-item2 > p{
    margin: 5px;
}

footer{
    margin: 0px;
    padding: 10px 30px;
    background-color: #EADBC8;
    text-align: center;
}

footer > h3{
    margin: 10px 0px;
}

.sosmed{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sosmed > a > img{
    width: 20px ;
    height: 20px;
    gap: 20px;
}

footer > p{
    margin: 20px 0px 0px 0px;
    font-size: 14px;
    font-weight: lighter;
    color: grey;
} 

.content-pf{
    padding: 30px;;
}

.content-pf > h1{
    margin: 0px;
}

.content-pf > p{
    margin: 16px 0px;
}

.grid-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    text-align: center;
}

.grid-pf{
    border: 1px solid black;
    border-radius: 5px;
    align-self: center;
    height: 500px;
    box-shadow: 2px 2px 5px #102C57;
}

.grid-pf:hover{
    box-shadow: 4px 4px 5px #102C57;
}

.pf-cover{
    height: 250px;
    padding: 10px;
}

.grid-pf img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-pf h3{
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
}

.grid-pf p{
    padding: 0px 10px;
    text-align: justify;
}

.content-blog{
    padding: 30px;
}

.content-blog > h1{
    margin: 0px;
}

.content-blog > p{
    margin: 16px 0px;
}

.content-blog > ol{
    margin: 20px 0px 0px 0px;
}

#list-blog > ol > img{
    margin-bottom: 20px;
}

.content-about{
    padding: 30px;
}

.content-about > h1{
    margin: 0px;
}

.tentang-saya{
    width: 90%;
    text-align: justify;
}

.grid-masukan{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-between;
    gap: 50px;
}

.grid-item1{
    margin: auto 0px;
    align-items: center;
}

textarea{
    background-color: #EADBC8;
    padding: 10px;
}

button{
    background-color: black;
    color:white;
    width: 110px;
    font-size: 14px;
    padding: 0.4em;
    border: 0px;
    border-radius: 3px;
}

#button-placement{
    text-align: right;
    padding: 0px 40px;
}