body{
    background-color: aliceblue;
    margin: 0px;
}

nav{
    height: 40px;
}

ul{
    /* background-color: blue; */
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 40px;
    margin: 0px 20px;
    height: 100%;
    padding: 0px 0px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

span{
    font-weight:lighter;
}

.grid-hero {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    justify-self: center;
}

.grid-hero > div {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#foto-profil{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.grid-item2{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
}

.grid-item2 > p {
    margin: 5px;
}

footer{
    margin: 0px 30px;
    /* background-color: #990033;
    color: #e6b800; */
}

footer > h3{
    margin: 10px 0px;
}
.sosmed{
    display: flex;
    gap: 20px;
}
.sosmed > a > img{
    width: 20px ;
    height: 20px;
    gap: 20px;
}

footer > p{
    margin: 0px;
    margin-top: 40px;
} 
